﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebMasterMenu.Master" AutoEventWireup="true" CodeBehind="WebFormListadoProducto.aspx.cs" Inherits="GUIWeb.WebFormListadoProducto" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style5 {
            width: 303px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
        <table style="width:100%;">
            <tr>
                <td class="auto-style5">
                    <asp:GridView ID="GridViewCliente" runat="server">
                    </asp:GridView>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style5">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style5">
                    <asp:Button ID="btoMostrar" runat="server" OnClick="btoMostrar_Click" Text="Mostrar" />
                </td>
                <td>
                    <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/WebMantenedorCliente.aspx">Volver</asp:HyperLink>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br />
    </p>
    <p>
    </p>
    <p>
    </p>
</asp:Content>
