﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebMasterMenu.Master" AutoEventWireup="true" CodeBehind="WebFormMenu.aspx.cs" Inherits="GUIWeb.WebFormMenu" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
    <br />
    <asp:Image ID="Image1" runat="server" Height="153px" ImageUrl="D:\Datos\DATOS\AMT\PEN1\KINGSTONAMT (J)\duoc2007\2018-2\AQY4101 Arquitectura\CapaNET\GUIWEB\koala.jpg" Width="188px" />
</p>
<p>
</p>
<p>
</p>
</asp:Content>
