﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebMasterMenu.Master" AutoEventWireup="true" CodeBehind="WebMantenedorProducto.aspx.cs" Inherits="GUIWeb.WebMantenedorProducto" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
    .auto-style6 {
        width: 187px;
    }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
    <table style="width:100%;">
        <tr>
            <td class="auto-style6">Rut</td>
            <td>
                <asp:TextBox ID="txtRut" runat="server"></asp:TextBox>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style6">Nombre</td>
            <td>
                <asp:TextBox ID="txtNombre" runat="server"></asp:TextBox>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style6">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style6">
                <asp:Button ID="btoGuardar" runat="server" OnClick="btoGuardar_Click" Text="Guardar" />
            </td>
            <td>
                <asp:Button ID="btoLista" runat="server" OnClick="btoLista_Click" Text="Lista" />
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <br />
</p>
<p>
</p>
<p>
</p>
<p>
</p>
</asp:Content>
